.Img1{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
    /* dimensions are important, ensure it is tall enough to scroll */ 
    max-height: max-content;
  
    /* you are free to lay out the container items with flexbox or whatever means you wish */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
}
.custom-shape-divider-bottom-1678779260 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678779260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1678779260 .shape-fill {
    fill: #ffffff;
}

/* For mobile devices*/ 
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1678779260 svg {
        width: calc(169% + 1.3px);
        height: 100px;
    }
}

.custom-shape-divider-bottom-1678788094 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1678788094 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678788094 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-top-1678788140 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1678788140 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1678788140 .shape-fill {
    fill: #FFFFFF;
}